<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="/img/brand-logo.png" alt="" width="110" height="45"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Inicio</a>
          </li>

          <% if(login){ %>
            <div class="d-flex">
              <li class="nav-item dropdown d-flex">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-circle" style="color:green;"></i> <%= name %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/perfil"><i class="fa-regular fa-address-card"></i> Perfil</a></li>
                  <li><a class="dropdown-item" href="/reservas"><i class="fa-solid fa-receipt"></i> Reservas</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-power-off"></i> Cerrar Sesion</a></li>
                </ul>
              </li>
            </div>
            <%} else {%>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Entrar</a>
              </li>
              <%}%>
        </ul>
      </div>
    </div>
  </nav>