.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #03a700, rgb(74, 220, 1)0, #80ff00);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #03a700, rgb(74, 220, 1)0, #80ff00);

}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
        backdrop-filter: blur(8px);
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.modal {
    background: rgba(47, 96, 143, 0.219);
    box-shadow: 0 8px 32px 0 rgba(74, 138, 163, 0.37) !;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}